@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Catamaran:wght@100..900&family=Varela&display=swap');
*{
    margin: 0;
    padding: 0;
}

html{
    font-family: "Varela", sans-serif;
}

.page-index{
    display: grid;
    grid-template-rows: 10vh 70vh 80vh 5vh 60vh 70vh 60vh 30vh;
    grid-template-columns:repeat( 2 / 50%);
    gap: 1rem;
    font-weight: 600;
    
    
    
}
.article2 ,header {
  
    padding: 1rem;
    margin: 1rem;
}

/* accueil *//* accueil *//* accueil *//* accueil *//* accueil *//* accueil *//* accueil */
/* accueil *//* accueil *//* accueil *//* accueil *//* accueil *//* accueil *//* accueil */
/* accueil *//* accueil *//* accueil *//* accueil *//* accueil *//* accueil *//* accueil */
/* accueil *//* accueil *//* accueil *//* accueil *//* accueil *//* accueil *//* accueil */
/* accueil *//* accueil *//* accueil *//* accueil *//* accueil *//* accueil *//* accueil */
/* accueil *//* accueil *//* accueil *//* accueil *//* accueil *//* accueil *//* accueil */
/* accueil *//* accueil *//* accueil *//* accueil *//* accueil *//* accueil *//* accueil */
/* accueil *//* accueil *//* accueil *//* accueil *//* accueil *//* accueil *//* accueil */
/* accueil *//* accueil *//* accueil *//* accueil *//* accueil *//* accueil *//* accueil */



.article2{
    grid-column: 1/3;
    grid-row: 5;
   
}

 footer{
    grid-row: 8;
}

.article1{
    grid-column: 1/3;
    grid-row: 3;
     align-items: center;
   text-align: center;
}


.page-index section , header , footer{
    grid-column: 1/3;
}

header img{
    height: 3rem;
    

}
header{ 
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem;
    align-items: center;
   
}

header a{
    color: #335F8A;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    margin-left: 2rem;
    border-radius: 2rem;

   transition: all 0.3s ease;
   padding: 8px 22px;
    

}

header a:hover{
    background: #335F8A;
    background: linear-gradient(90deg,rgba(51, 95, 138, 1) 0%, rgba(85, 213, 224, 1) 100%);
    color: white;
    padding: 8px 22px;
    border-radius: 2rem;
    border: none;

}
.actif{
    background: #335F8A;
background: linear-gradient(90deg,rgba(51, 95, 138, 1) 0%, rgba(85, 213, 224, 1) 100%);
color: white;
padding: 8px 22px;
border-radius: 2rem;
border: none;
}

.bienvenue{
  
    background-size: cover;
    
    background-color: #335F8A;
}


.bienvenue {
    background-image: url(medias/nouilles_au_top.jpg);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.bienvenue h1{
    font-family: "Archivo Black", sans-serif;
    background-color: #2F4558;
    font-size: 2.5rem;
    color: white;
    padding: 0.6rem 1.5rem;
    text-align: center;
    width: 50rem;
    align-self: center;
    border-radius: 3rem;
    margin-bottom: 1rem;



    
    
}


    /* recette accueil *//* recette accueil *//* recette accueil */
    /* recette accueil *//* recette accueil *//* recette accueil */


.article1 h2{
    text-align: center;
    font-size: 2.3rem;
    margin-bottom: 3rem;
    margin-top: 5rem;
    color: #2F4558;
    
}

.recette{
    display: grid;
    grid-template-columns: 3 / 1fr;
    justify-content: space-around;
    background-image: url(medias/Rectangle\ 13.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: 3rem;
   

}
.recette img{
    height: 40vh;
}
.ramen{
    grid-column: 1;
}
.udon{
    grid-column: 2;
}

.yakisoba{
    grid-column: 3;
}




.article1 a{
    text-align: center;
    text-decoration: none;
    background-color: #2F4558;
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 500;
    padding: 1.2vh 8vh;
    border-radius: 3rem; 
    justify-self: end;
    transition: all 0.32s ease;
    
    
    
    
    
}

.article1 a:hover{
   box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.recette p{
    text-align: center;
    font-size: 1.5rem;
color: #2F4558;
}

/* histoire acceuil *//* histoire acceuil *//* histoire acceuil */
/* histoire acceuil *//* histoire acceuil *//* histoire acceuil */

.article2{
    display: grid;
    grid-template-columns: 55% auto;
    padding-left: 3rem;
    margin-top: 5rem;
}
.article2 img{
    height: 60vh;
    width: auto;
    
    
    
}
.nouille{
    justify-self: center;
}

.histoire{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
}


h3{
    
    font-size: 2.3rem;
    margin-bottom: 1rem;
    color: #2F4558;
    
}
.article2 p{
    font-size: 1.45rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: #2F4558;
}

.article2 a{
    
    text-decoration: none;
    background-color: #2F4558;
    font-size: 1.3rem;
    color: #ffffff;
    font-weight: 500;
    padding: 1vh 3vh;
    border-radius: 3rem;
    width: 20%;
    text-align: center;
  
    transition: all 0.32s ease;
}
.article2 i{
    margin-right: 6px;
}

.article2 a:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.contact{
    grid-column: 1/3;
    background-image: url(medias/image\ 5.png);
    background-size: cover;
    margin-top: 10vh;
    grid-row: 6;
    align-content: center;
    justify-content: center;
    
}
.reseau{
display: flex;
flex-direction: column;
align-items: center;

background-color: white;
align-content: center;
text-align: center;
width: 35%;
justify-content: center;
border-radius: 1rem;
justify-self: center;
}

.reseaux i{
    font-size: 2.5rem;
    padding: 0rem 2rem;
    color: #2F4558;
    transition: all 0.3s ease;
}
.reseaux i:hover{
    transform: scale(1.3);
}

.reseau .bouton{
        text-decoration: none;
    background-color: #2F4558;
    font-size: 1.3rem;
    color: #ffffff;
    font-weight: 500;
    padding: 1vh 3vh;
    border-radius: 3rem;
    width: 60%;
    text-align: center;
  margin-top: 2rem;
    transition: all 0.32s ease;
    margin-bottom: 2rem;
}
.reseau h3{
    margin-top: 1.5rem;
}

.reseau .bouton:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.gps iframe{ width: 100%;}
.gps{
    grid-column: 1/3;
    grid-row: 7;
}
.gps h3{
    margin-bottom: 5vh;
    margin-top: 5vh;
    margin-left: 1rem;
}
footer{
    background-color: #2F4558;
    margin-top: 8vh;
   
}
footer img{
    height: 3rem;
}
footer a{
    color: white;
    font-weight: 500;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

footer a:hover{
    transform: scale(1.3);
}
.ligne1{
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    border-bottom: solid 2px white;
    width: 90%;
    justify-self: center;
}
footer p{
    color: white;
    text-align: center;
    font-weight: 500;
    padding-top: 1rem;
    font-size: 1.2rem;

}

.vague{
    background-image: url(medias/vague.png);
    height: 7vh;
    background-size: cover; 
    grid-column: 1/3;
}
/* page services *//* page services *//* page services *//* page services *//* page services *//* page services *//* page services *//* page services */
/* page services *//* page services *//* page services *//* page services *//* page services *//* page services *//* page services *//* page services */
/* page services *//* page services *//* page services *//* page services *//* page services *//* page services *//* page services *//* page services */
/* page services *//* page services *//* page services *//* page services *//* page services *//* page services *//* page services *//* page services */
/* page services *//* page services *//* page services *//* page services *//* page services *//* page services *//* page services *//* page services */
/* page services *//* page services *//* page services *//* page services *//* page services *//* page services *//* page services *//* page services */
/* page services *//* page services *//* page services *//* page services *//* page services *//* page services *//* page services *//* page services */
/* page services *//* page services *//* page services *//* page services *//* page services *//* page services *//* page services *//* page services */
/* page services *//* page services *//* page services *//* page services *//* page services *//* page services *//* page services *//* page services */
/* page services *//* page services *//* page services *//* page services *//* page services *//* page services *//* page services *//* page services */

.serv{
    display: grid;
     grid-template-rows: 10vh 60vh 1vh;
    background-color: #dcdce7;
    gap: 1rem;
    font-weight: 600;
}

.serv header{
    grid-column: 1/5;
    grid-row: 1;
}
 .serv footer{
    grid-column: 1/5;
    grid-row: 3;
 }
 .serv .nouille{
   
    grid-row: 2;
      display: grid;
    grid-template-columns: 1fr 1fr 1fr;
 }
 .numero img{
    height: 5rem;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 25px 50px -12px;
    border-radius: 50%;
 }
.numero .num p{
    font-size: 5rem;
    color: #ffffff;
    
}
.num-actif{
    color: #2F4558;
    display: flex;
    align-items: center; 
     transition: all 0.3s ease;
   
    margin-top: 3rem;
}
.num-actif p{
    font-size: 5rem;
    
}
.numero {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0 ;
    padding-left: 8rem;
}
.num{
    display: flex;
    align-items: center;
     margin-top: 3rem;
     transition: all 0.3s ease;
    
    

}
.num:hover ,.num-actif:hover{
    transform: scale(1.1);
}
.page-serv article{
grid-column: 2;
}

.page-serv section{
    grid-column: 3;
}


.page-serv article img{
     border-radius: 50%; /* rend l’image ronde */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 12px 28px 0px, rgba(0, 0, 0, 0.2) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    object-fit: cover; /* pour que l’image remplisse bien le cadre */
    height: 65vh;

}
.page-serv article{
align-self: flex-end;
}

.serv footer{
    background-color: #dcdce7;

   
}

.serv footer a{
    color: #2F4558;
    font-weight: 500;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.serv footer a:hover{
    transform: scale(1.3);
}
.serv .ligne1{
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 1 2rem;
    border-bottom: solid 2px #2F4558;
    width: 90%;
    justify-self: center;
}
.serv footer p{
    color: #2F4558;
    text-align: center;
    font-weight: 500;
  
    font-size: 1.2rem;

}

.page-serv section{
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-right: 1rem;
    
}
.page-serv h1{
    color: #2F4558;
font-family: "Archivo Black", sans-serif;
   
    font-size: 5.5rem;
   
    
   
    
    border-radius: 3rem;
   
}
.page-serv .description p{
    font-weight: 500;
    font-size: 18px;

}
#un .description ,#deux .description{
    width: 60%;
    margin-left: 13rem;
   
}

.page-serv {
  display: none;
}

.page-serv.active {
  display: block;
}

.btn , .num , .num-actif {
  cursor: pointer;
 
}
 #trois .description{
     width: 60%;
    margin-left: 13rem;
 }

.serv .ligne2 a , .page-propos .ligne2 a{
    font-size: 1.8rem;
    text-align: center;
    align-self: center;
    margin: 0 15px;
 }
 .ligne2 i{
    transition: all 0.3s ease;
 }
 .ligne2{
  text-align: center;
    justify-self: center;
    margin-top: 1rem;
 }
 .serv footer i:hover{
    transform: scale(1.3);
}
.serv footer p , .page-propos footer p{
    padding-top: 0rem;
}



/* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos */
/* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos */
/* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos */
/* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos */
/* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos */
/* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos */
/* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos */
/* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos */
/* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos */
/* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos */
/* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos */
/* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos *//* page a propos */

.page-propos {
    display: grid;
    grid-template-rows: 10vh 50vh 90vh 30vh 10vh;
    grid-template-columns: 50% 49%;
    gap: 1rem;
}

.page-propos header {
    grid-column: 1 / 3;
    grid-row: 1;
}

.page-propos .chef {
    grid-column: 1 / 3;
    grid-row: 2;
    background-image: url('medias/mecavecunbol.png');
    background-size: cover;
    background-position: center;
}

.page-propos .cheff {
    grid-column: 1;
    grid-row: 3;
}

.page-propos .famille {
    grid-column: 2;
    grid-row: 3;
}

.page-propos .recrute {
    grid-column: 1 / 3;
    grid-row: 4;
}
.cheff img{
    height: 70vh;
}

.cheff {
    align-self: center;
    justify-self: center;
    margin-top: 3vh;
}

.famille{
    margin-top: 10vh;
    width: 90%;
}
.famille h1{
    font-family: "Archivo Black", sans-serif;
    
    font-size: 2.5rem;
    color: #2F4558;
    margin-bottom: 1rem;
}
.famille p {
    color: #2F4558;
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 1.6rem ;
}
.recrute {
    background-color: #F6B12D;
    height: 36.5vh;
 
    display: flex;
    justify-content: space-around;

}
.recrute h2{
    text-align: center;
    font-size: 2.3rem;
    margin-bottom: 3rem;
    margin-top: 5rem;
    color: #2F4558;
    
}

.recrute a{
    text-align: center;
    text-decoration: none;
    background-color: #2F4558;
    font-size: 1.1rem;
    color: #ffffff;
    font-weight: 500;
    padding: 1.2vh 6vh;
    border-radius: 3rem; 
    justify-self: end;
    transition: all 0.32s ease;
    
    
    
    
    
}

.recrute a:hover{
   box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}